<%- include("../../views/partials/admin/header") %>

<link rel="stylesheet" href="/css/admin/addproducts.css">

    <section class="content-main">
        <div class="row">
            <% if(flash.error){ %>
                <div class="alert alert-danger" role="alert">
                    <%= flash.error %>
                </div>
                <% } %>
                    
                    <div class="container-main col-lg-6">
                        <h4 class="mb-2"><strong>Add Product</strong></h4>
                        <div class="card mb-2">
                            
                            <div class="card-body">
                                
                                <form method="post" action="/admin/add-products" enctype="multipart/form-data"
                                    onsubmit="return validateForm()">
                                    <div class="form-grid">
                                        <!-- Left Side - Form Fields -->
                                        <div class="form-section">
                                            <div class="mb-4">
                                                <label for="product_name" class="form-label">Product Name</label>
                                                <input type="text" placeholder="Type here" name="productName"
                                                    class="form-control border" id="product_name">
                                                <div id="productName-error" class="error-message"></div>
                                            </div>

                                            <div class="brand-section">
                                                <label class="form-label">Brand</label>
                                                <select class="form-select border" name="brands">
                                                    <% for (let i=0; i < brand.length; i++) { %>
                                                        <option value="<%= brand[i]._id %>">
                                                            <%= brand[i].brand_name %> (<%= brand[i].description  %>)
                                                        </option>
                                                        <% } %>
                                                </select>
                                            </div>

                                            <div class="mb-4">
                                                <label class="form-label">Full description</label>
                                                <textarea placeholder="Type here" id="descriptionid" name="description"
                                                    class="form-control border" rows="4"></textarea>
                                                <div id="description-error" class="error-message"></div>
                                            </div>

                                            <!-- Add Variants Section -->
                                            <div class="mb-2">
                                                <label class="form-label">Add Variants</label>
                                                <div class="row gx-3 mb-3">
                                                    <!-- Color -->
                                                    <div class="col-sm-4">
                                                        <div class="form-group">
                                                            <label for="variantColor">Color:</label>
                                                            <input type="text" id="variantColor" class="form-control"
                                                                placeholder="Enter color" />
                                                            <div id="color-error" class="error-message"></div>
                                                        </div>
                                                    </div>
                                                    <!-- Size -->
                                                    <div class="col-sm-4">
                                                        <div class="form-group">
                                                            <label for="variantSize">Size:</label>
                                                            <input type="text" id="variantSize" class="form-control"
                                                                placeholder="Enter size" />
                                                            <div id="size-error" class="error-message"></div>
                                                        </div>
                                                    </div>
                                                    <!-- Stock -->
                                                    <div class="col-sm-4">
                                                        <div class="form-group">
                                                            <label for="variantStock">Stock:</label>
                                                            <input type="number" id="variantStock" class="form-control"
                                                                placeholder="Enter stock" />
                                                            <div id="stock-error" class="error-message"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row gx-3 mb-3">
                                                    <!-- Regular Price -->
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label for="variantRegularPrice">Regular Price:</label>
                                                            <input type="text" name="regularPrice"
                                                                id="variantRegularPrice" class="form-control"
                                                                placeholder="Enter regular price" />
                                                            <div id="regularPrice-error" class="error-message"></div>
                                                        </div>
                                                    </div>
                                                    <!-- Sale Price -->
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label for="variantSalePrice">Sale Price:</label>
                                                            <input type="text" id="variantSalePrice"
                                                                class="form-control" placeholder="Enter sale price" />
                                                            <div id="salePrice-error" class="error-message"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="d-flex justify-content-end add-variant-btn">
                                                    <button type="button" class="btn btn-primary"
                                                        onclick="addVariant()">Add
                                                        Variant</button>
                                                </div>

                                            </div>

                                            <div class="mb-2">
                                                <label class="form-label">Product Offer</label>
                                                <br>
                                                <label for="productOffer" class="form-label">Discount(%)</label>
                                                <input type="text" placeholder="Type here" name="discountPercentage"
                                                    class="form-control border" id="productOffer">
                                                <div id="productOffer-error" class="error-message"></div>
                                            </div>
                                            <div class="mb-2">
                                                <label for="offer_start" class="form-label">Start Date</label>
                                                <input type="date" name="startDate" class="form-control border"
                                                    id="offer_start">
                                                <div id="startDate-error" class="error-message"></div>
                                            </div>
                                            <div class="mb-2">

                                                <label for="offer_end" class="form-label">End Date</label>
                                                <input type="date" placeholder="Type here" name="endDate"
                                                    class="form-control border" id="offer_end">
                                                <div id="endDate-error" class="error-message"></div>
                                            </div>

                                        </div>

                                        <div class="card mb-2">
                                            <div class="card-header">
                                                <h4>Upload images</h4>
                                            </div>
                                            <div class="border row ms-0 w-100">
                                                <div id="addedimageContainer" class="thumbnails-container"></div>
                                            </div>
                                        
                                          
                                            <div class="row">
                                                <div class="card-body align-items-center" style="margin-bottom: 20px;">
                                                    <label for="input1" class="file-input-container">
                                                        <span class="add-icon">+</span>
                                                        <input class="form-control" type="file" name="image" id="input1" accept="image/png, image/jpeg, image/jpg" onchange="viewImage(event, 1)" hidden>
                                                    </label>
                                                    <div id="image-error" class="error-message"></div>
                                                    <div id="thumbnailContainer1" class="thumbnail-container" style="display: none;">
                                                        <img id="imgThumbnail1" src="" alt="" class="thumbnail-img">
                                                        <button type="button" class="remove-btn" onclick="removeThumbnail(1)">×</button>
                                                        <button type="button" class="crop-btn" onclick="openCropModal(1)">Crop</button>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="card-body align-items-center" style="margin-bottom: 20px;">
                                                    <label for="input2" class="file-input-container">
                                                        <span class="add-icon">+</span>
                                                        <input class="form-control" type="file" name="image" id="input2" accept="image/png, image/jpeg, image/jpg" onchange="viewImage(event, 2)" hidden>
                                                    </label>
                                                   
                                                    <div id="thumbnailContainer2" class="thumbnail-container" style="display: none;">
                                                        <img id="imgThumbnail2" src="" alt="" class="thumbnail-img">
                                                        <button type="button" class="remove-btn" onclick="removeThumbnail(2)">×</button>
                                                        <button type="button" class="crop-btn" onclick="openCropModal(2)">Crop</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="card-body align-items-center" style="margin-bottom: 20px;">
                                                    <label for="input3" class="file-input-container">
                                                        <span class="add-icon">+</span>
                                                        <input class="form-control" type="file" name="image" id="input3" accept="image/png, image/jpeg, image/jpg" onchange="viewImage(event, 3)" hidden>
                                                    </label>
                                                   
                                                    <div id="thumbnailContainer3" class="thumbnail-container" style="display: none;">
                                                        <img id="imgThumbnail3" src="" alt="" class="thumbnail-img">
                                                        <button type="button" class="remove-btn" onclick="removeThumbnail(3)">×</button>
                                                        <button type="button" class="crop-btn" onclick="openCropModal(3)">Crop</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="card-body align-items-center" style="margin-bottom: 20px;">
                                                    <label for="input4" class="file-input-container">
                                                        <span class="add-icon">+</span>
                                                        <input class="form-control" type="file" name="image" id="input4" accept="image/png, image/jpeg, image/jpg" onchange="viewImage(event, 4)" hidden>
                                                    </label>
                                                    
                                                    <div id="thumbnailContainer4" class="thumbnail-container" style="display: none;">
                                                        <img id="imgThumbnail4" src="" alt="" class="thumbnail-img">
                                                        <button type="button" class="remove-btn" onclick="removeThumbnail(4)">×</button>
                                                        <button type="button" class="crop-btn" onclick="openCropModal(4)">Crop</button>
                                                    </div>
                                                </div>
                                            </div>
                                         
                                            
                                            <!-- Modal for Cropping -->
                                            <div id="cropModal" class="crop-modal">
                                                <div class="crop-modal-content">
                                                    <h4>Crop Image</h4>
                                                    <div class="crop-container">
                                                        <img id="cropImage" src="" alt="Crop Image">
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" id="saveCropBtn" class="btn-sm btn-primary">Save Crop</button>
                                                        <button type="button" class="btn-sm btn-secondary" onclick="closeCropModal()">Cancel</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                        <div class="category-section">
                            <label class="form-label">Category</label>
                            <select class="form-select border" name="category">
                                <% for (let i=0; i < cat.length; i++) { %>
                                    <option value="<%= cat[i]._id %>">
                                        <%= cat[i].name %>
                                    </option>
                                    <% } %>
                            </select>
                        </div>
                        <table class="variant-tablev">
                            <thead>
                                <tr>
                                    <th>Color</th>
                                    <th>Size</th>
                                    <th>Stock</th>
                                    <th>Regular Price</th>
                                    <th>Sale Price</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody id="variantTableBody"></tbody>
                        </table>
                        <input type="hidden" name="variants" id="variantData">
                        <div id="variant-error" class="error-message"></div>
                    </div>


        </div>

        <div>
            <button class="btn publish-btn" type="submit" onclick="validateAndSubmit()">Publish</button>
        </div>
        </form>
        </div>
        </div>
        </div>
        </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/cropperjs/dist/cropper.min.js"></script>

    <script src="/js/admin/addproducts.js"></script>

    <%- include("../../views/partials/admin/footer") %>