<%- include('../../views/partials/admin/header') %>


<style>

</style>
<div class="container-main">
    <h2 class="mb-4">Category Details</h2>

    <% if (flash.error) { %>
        <div class="alert alert-danger">
            <%= flash.error %>
        </div>
    <% } %>

    <% if (flash.success) { %>
        <div class="alert alert-success">
            <%= flash.success %>
        </div>
    <% } %>
    <div class="mb-3">
        <input type="text" class="form-control" id="searchBar" placeholder="Search categories by name or description">
    </div>
    <button class="btn btn-success text-white mb-2 d-flex w-22 ms-auto ">
        <a class="text-white" href="/admin/addCategory">Add Item</a>
    </button>
    <table class="table table-light">
        <thead class="table-secondary">
            <tr> 
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Offer</th>
                <th scope="col">Start Date</th>
                <th scope="col">End Date</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody id="tableBody">
            <% category.forEach((category, index) => { %>
                <tr data-category-id="<%= category._id %>">
                    
                <td class="editable" contenteditable="false"><%= category.name %></td>
                 <td class="editable w-25" contenteditable="false"><%= category.description %></td>
                 <td class="editable" contenteditable="false"><%= category.categoryDiscount.percentage %></td>
                 <td class="editable" contenteditable="false">
                <%= category.categoryDiscount.startDate ? new Date(category.categoryDiscount.startDate).toLocaleDateString() : 'NA' %>
                </td>
                <td class="editable" contenteditable="false">
                    <%= category.categoryDiscount.endDate ? new Date(category.categoryDiscount.endDate).toLocaleDateString() : 'NA' %>
                </td>
           <td>
    <button class="btn  btn-md edit-button"><i class="fa-solid fa-edit"></i></button>
    <% if (category.isDeleted === false) { %>
        <button class="btn btn-md">
            <a href="/admin/deletecategory?id=<%= category._id %>" class="text-white text-decoration-none" > <i class="fa-solid fa-trash"></i></a>
        </button>
    <% } else { %>
        <button class="btn  btn-md">
            <a href="/admin/restorecategory?id=<%= category._id %>" class="text-white" style="text-decoration: none;"> <i class="fa-solid fa-rotate-left"></i></a>
        </button>
    <% } %>
    </td>

                </tr>
            <% }); %>
        </tbody>
    </table>

    <div class="flex items-center justify-center mt-3 space-x-2 mb-3">
        <% if (currentPage > 1) { %>
            <a class="px-4 py-2 bg-gray-200 text-gray-700 rounded-md hover:bg-gray-300" href="?page=<%= currentPage - 1 %>">&laquo; Prev</a>
        <% } %>
        
        <% for (let i = 1; i <= totalPages; i++) { %>
            <% if (i === currentPage) { %>
                <span class="px-4 py-2 bg-blue-500 text-white font-semibold rounded-md"> <%= i %> </span>
            <% } else { %>
                <a class="px-4 py-2 bg-gray-200 text-gray-700 rounded-md hover:bg-gray-300" href="?page=<%= i %>"><%= i %></a>
            <% } %>
        <% } %>
        
        <% if (currentPage < totalPages) { %>
            <a class="px-4 py-2 bg-gray-200 text-gray-700 rounded-md hover:bg-gray-300" href="?page=<%= currentPage + 1 %>">Next &raquo;</a>
        <% } %>
    </div>
</div>


<script src="/js/admin/customer-search.js"></script>

<script src="/js/admin/edit-category.js"></script>





<%- include('../../views/partials/admin/footer') %>
