<%- include("../../views/partials/admin/header") %>

<link rel="stylesheet" href="/css/admin/edit-product.css">
    <section class="content-main">
        <div class="row">
            <div class="col-9">
                <div class="content-header mb-5 mt-5">
                    <h2 class="content-title container-fluid">Edit Product</h2>
                </div>
            </div>
            <div class="container-fluid w-75 col-lg-6">
                <div class="card mb-4">
                    <div class="card-body">
                        <form method="post" action="/admin/editproducts/<%= product._id %>" enctype="multipart/form-data" onsubmit="return validateForm()">

                            <div class="mb-4">
                                <label for="product_name" class="form-label">Product Name</label>
                                <input type="text" placeholder="Type here" value="<%=product.productName%>" name="productName" class="form-control border" id="product_name">
                                <div id="productName-error" class="error-message"></div>
                            </div>
                            <label class="form-label">Brands</label>
                            <select class="form-select border" style="width: 150px;" name="brands">
                                <% brands.forEach(brand => { %>
                                    <option value="<%= brand._id %>" <%= brand._id.toString() === product.brands.toString() ? 'selected' : '' %>>
                                        <%= brand.brand_name %>(<%= brand.description  %>)
                                    </option>
                                <% }) %>
                            </select>
                            <div class="mb-4">
                                <label class="form-label">Full description</label>
                                <textarea placeholder="Type here" id="descriptionid" value="<%=product.description%>" name="description" class="form-control border" rows="4"><%=product.description%></textarea>
                                <div id="description-error" class="error-message"></div>
                            </div>
                            <div class="mb-4">
                                <label for="product_offer" class="form-label">Discount(%)</label>
                                <input type="text" placeholder="Type here" value="<%=product.offer.discountPercentage%>" name="discountPercentage" class="form-control border" id="product_offer">
                                <div id="productOffer-error" class="error-message"></div>
                            </div>
                            <div class="mb-4">
                                <label for="offer_start" class="form-label">Start Date</label>
                                <input type="date" placeholder="Type here" value="<%=product.offer.startDate%>" name="startDate" class="form-control border" id="offer_start">
                                <div id="startDate-error" class="error-message"></div>
                            </div>
                            <div class="mb-4">
                                <label for="offer_end" class="form-label">End Date</label>
                                <input type="date" placeholder="Type here" value="<%=product.offer.endDate%>" name="endDate" class="form-control border" id="offer_end">
                                <div id="endDate-error" class="error-message"></div>
                            </div>
                           
                            <div class="card mb-4">
                                <div class="card-body">
                                    <div class="row gx-2">
                                        <div class="col-sm-6 mb-3">
                                            <label class="form-label">Category</label>
                                            <select class="form-select border" style="width: 150px;" name="category">
                                                <% category.forEach(cat => { %>
                                                    <option value="<%= cat._id %>" <%= cat._id.toString() === product.category.toString() ? 'selected' : '' %>>
                                                        <%= cat.name %>
                                                    </option>
                                                <% }) %>
                                            </select>
                                            <div id="category-error" class="error-message"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

    <div class="card mb-4">
  <div class="card-header">
    <h4>Edit Product Variants</h4>
  </div>
  <div class="card-body">
    <div id="variant-container">
      <% product.variants.forEach((variant, index) => { %>
      <div class="variant-row d-flex align-items-center mb-3" id="variant-row-<%= index %>">
        <input type="hidden" name="variants[<%= index %>][id]" value="<%= variant._id %>">
        <div class="me-3">
          <label for="variantColor<%= index %>" class="form-label">Color</label>
          <input type="text" class="form-control" id="variantColor<%= index %>" name="variants[<%= index %>][color]" value="<%= variant.color %>">
        </div>
        <div class="me-3">
          <label for="variantSize<%= index %>" class="form-label">Size</label>
          <input type="text" class="form-control" id="variantSize<%= index %>" name="variants[<%= index %>][size]" value="<%= variant.size %>">
        </div>
        <div class="me-3">
          <label for="variantStock<%= index %>" class="form-label">Stock</label>
          <input type="number" class="form-control" id="variantStock<%= index %>" name="variants[<%= index %>][stock]" value="<%= variant.stock %>">
        </div>
        <div class="me-3">
          <label for="variantRegularPrice<%= index %>" class="form-label">Regular Price</label>
          <input type="number" class="form-control" id="variantRegularPrice<%= index %>" name="variants[<%= index %>][regularPrice]" value="<%= variant.regularPrice %>">
        </div>
        <div class="me-3">
          <label for="variantsalePrice<%= index %>" class="form-label">Sale Price</label>
          <input type="number" class="form-control" id="variantsalePrice<%= index %>" name="variants[<%= index %>][salePrice]" value="<%= variant.salePrice %>">
        </div>
        <button type="button" data-variant-id="<%= variant._id %>" data-product-id="<%= product._id %>" class="remove-variant">X</button>
      </div>
      <% }); %>
    </div>
    <button type="button" class="btn btn-primary" onclick="addVariant()">Add Variant</button>
  </div>
</div>
                           <div class="card mb-2">
                                <div class="card-header">
                                    <h4>Choose images</h4>
                                </div>
                                   <% for(let i=0;i<product.productImage.length;i++){ %>
                                        <div class="col-md-12">
                                            <div class="mb-4">
                                                <div class="col-12">
                                                    <td>
                                                        <input type="hidden" value="<%=product.productImage[i]%>" id="imageDatas">
                                                        <img class="rounded" style="width: 50px; height: 60px;"
                                                            src="/uploads/public-image/<%=product.productImage[i]%>"
                                                            alt="">
                                                        <i onclick="deleteSingleImage('<%=product.productImage[i]%>','<%= product._id %>')" style="position: absolute; margin-left: .5rem; cursor: pointer;" class="fa-thin fa-x"></i>
                                                    </td>
                                                </div>

                                            </div>
                                        </div>
                                           <% } %>
                                <div class="row">
                                    <div class="card-body align-items-center " style="margin-bottom: 20px;">
                                        <img src="" alt="" id="imgView1">
<input class="form-control" type="file" name="image" id="input1"
accept="image/png, image/jpeg, image/jpg"
onchange="viewImage1(event)">
                                        <div id="image-error" class="error-message"></div>
                                    </div>
                                    <div class="image-cropper d-flex align-items-center"
                                        style="display:none; width: 300px; height: 200px; margin-bottom: 20px;">
                                        <img src="" id="croppedImg1" alt="">
                            
                                        <button type="button" id="saveButton1" class="btn-sm btn-primary">Save</button>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="card-body align-items-center" style="margin-bottom: 20px;">
                                        <img src="" alt="" id="imgView2">

                                        <input class="form-control" type="file" name="image" id="input2"
                                               accept="image/png, image/jpeg, image/jpg"
                                              onchange="viewImage2(event)">


                                        

                                            <div id="image-error" class="error-message"></div>
                                    </div>
                                    <div class="image-cropper d-flex align-items-center"
                                        style="display:none; width: 300px; height: 200px; margin-bottom: 20px;">
                                        <img src="" id="croppedImg2" alt="">
                                        <button type="button" id="saveButton2" class="btn-sm btn-primary">Save</button>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="card-body align-items-center" style="margin-bottom: 20px;">
                                        <img src="" alt="" id="imgView3">


                                        <input class="form-control" type="file" name="image" id="input3"
                                        accept="image/png, image/jpeg, image/jpg"
                                        onchange="viewImage3(event)">
                                            <div id="image-error" class="error-message"></div>
                                    </div>
                                    <div class="image-cropper d-flex align-items-center"
                                        style="display:none; width: 300px; height: 200px; margin-bottom: 20px;">
                                        <img src="" id="croppedImg3" alt="">
                                        <button type="button" id="saveButton3" class="btn-sm btn-primary">Save</button>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="card-body align-items-center" style="margin-bottom: 20px;">
                                        <img src="" alt="" id="imgView4">



                                        <input class="form-control" type="file" name="image" id="input4"
                                          accept="image/png, image/jpeg, image/jpg"
                                           onchange="viewImage4(event)">
                                            <div id="image-error" class="error-message"></div>
                                    </div>
                                    <div class="image-cropper d-flex align-items-center"
                                        style="display:none; width: 300px; height: 200px; margin-bottom: 20px;">
                                        <img src="" id="croppedImg4" alt="">
                                        <button type="button" id="saveButton4" class="btn-sm btn-primary">Save</button>
                                    </div>
                                </div>

                            </div>
                    </div>
                    <div>
                        <button class="btn btn-info btn-md rounded font-sm hover-up" type="submit"
                            onclick="validateAndSubmit()">Update</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
        </div>
    </section>


    <script src="https://cdn.jsdelivr.net/npm/cropperjs/dist/cropper.min.js"></script>

    <script src="/js/admin/edit-product.js"> </script>
        
    <%- include("../../views/partials/admin/footer") %>