<%- include('../../views/partials/admin/header')  %>
<style>
    table {
        table-layout: fixed;
        width: 100%;
    }
    .description {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 30%;
    }
    .product_image{
        border-radius: 4px;
    }
</style>



<div class="container mt-4">
    <h2 class="mb-4">Product Details </h2>
  
    <div class="mb-3">
        <input type="text" class="form-control" id="searchBar" placeholder="Search product by name or category">
    </div>

    <table class="table table-light">
        <thead class="table-secondary">
            <tr>
                <th scope="col"><input type="checkbox" id="selectAll"></th>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Image</th>
                <th scope="col">Description</th>
                <th scope="col">Category</th>
                <th scope="col">Sale Price</th>
                <th scope="col">Qty</th>
                <th scope="col">Color</th>
                <th scope="col">Size</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody id="tableBody">
            <% data.forEach((product, index) => { %>
                <tr data-product-id="<%= product._id %>">
                    <td><input type="checkbox" class="checkbox"></td>
                    <td><%= index + 1 %></td>
                    <td>
                       <%= product.productName %>
                    </td>
                    <td>
                        <a href="/admin/product-details/<%= product._id %>"><img class="product_image" src="/uploads/public-image/<%= product.productImage[0] %>" alt="<%= product.productName %>" width="50" height="50"></a>
                    </td>
                    <td class="description"><%= product.description %></td>
                    <td><%= product.category ? product.category.name : 'No Category' %></td>
                 
                   <% if (product.variants && product.variants.length > 0) { %>
                 <% product.variants.forEach((variant, variantIndex) => { %>
                     <% if (variantIndex !== -1) { %>
                                <td><%= variant.salePrice %></td>
                                <td><%= variant.stock %></td>
                                <td><%= variant.color %></td>
                                <td><%= variant.size %></td>
                                <% } %>
                             
                        <% }); %>
                    <% } else { %>
                            <td class="text-center" colspan="4">No Variants Available</td>
                       
                    <% } %>

                    <td>
                        <button class="btn btn-primary btn-sm edit-button mb-2">
                            <a class="text-white" href="/admin/editproducts?id=<%= product._id %>">Edit</a>
                        </button>
                        <% if (product.isDeleted === false) { %>
                            <button class="btn btn-info btn-sm">
                                <a href="/admin/deleteproducts?id=<%= product._id %>" class="text-white" style="text-decoration: none;">Delete</a>
                            </button>
                        <% } else { %>
                            <button class="btn btn-success btn-sm">
                                <a href="/admin/restoreproducts?id=<%= product._id %>" class="text-white" style="text-decoration: none;">Restore</a>
                            </button>
                        <% } %>
                    </td>
                
                </tr>
            <% }); %>
        </tbody>
    </table>
    



  


    <div class="pagination-container d-flex align-items-center justify-content-center mt-5">
        <% if (currentPage > 1) { %>
            <a class="page-link" href="?page=<%= currentPage - 1 %>">&laquo; Previous</a>
        <% } %>
        <% for (let i = 1; i <= totalPages; i++) { %>
            <% if (i === currentPage) { %>
                <span class="current-page"><%= i %></span>
            <% } else { %>
                <a class="page-link" href="?page=<%= i %>"><%= i %></a>
            <% } %>
        <% } %>
        <% if (currentPage < totalPages) { %>
            <a class="page-link" href="?page=<%= currentPage + 1 %>">Next &raquo;</a>
        <% } %>
    </div>
</div>

<script src="/js/admin/customer-search.js"></script>



<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>





<%- include('../../views/partials/admin/footer')  %>