<%- include('../../views/partials/user/header') %>
<link rel="stylesheet" href="/css/user/cart.css">

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>Shopping Cart</h4>
                    <div class="breadcrumb__links">
                        <a href="/">Home</a>
                        <a href="/products">Products</a>
                        <span>Cart</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<% if(flash.error) {%>
<div class="alert alert-danger alert-box w-50 text-center"><%= flash.error  %></div>
<% } %>

<!-- Shopping Cart Section Begin -->
<section class="shopping-cart spad">
    <div class="container">
        <!-- Cart Table -->
        <div class="row">
            <div class="col-lg-8">
                <div class="shopping__cart__table">
                    <table>
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Details</th>
                                <th>Quantity</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <% cartItems.forEach(item => { %>
                                <tr>
                                    <td class="product__cart__item">
                                        <div class="product__cart__item__pic">
                                            <a href="/product/view?id=<%= item.product._id %>">
                                                <img src="/uploads/public-image/<%= item.product.productImage[0] %>" alt="<%= item.product.productName %>">
                                            </a>
                                        </div>
                                        </td>
                                        <td>
                                        <div class="product__cart__item__text">
                                            <h6><%= item.product.productName %></h6>
                                            
                                            <!-- Use selectedVariant for variant details -->
                                            <% if (item.selectedVariant) { %>
                                                <p><strong>Variant:</strong> <%= item.selectedVariant.color %> - <%= item.selectedVariant.size %></p>
                                                <h5>Price: ₹<%= item.selectedVariant.salePrice || item.selectedVariant.regularPrice %></h5>
                                            <% } else { %>
                                                <p><strong>Variant:</strong> N/A</p>
                                                <h5>Price: ₹<%= item.product.regularPrice %></h5>
                                            <% } %>
                                        </div>
                                    </td>
                                    <td class="quantity__item">
                                        <div class="quantity">
                                            <button class="btn-decrement"data-available-stock="<%= item.selectedVariant.stock %>" data-product-id="<%= item.product._id %>" data-variant-id="<%= item.selectedVariant._id %>" >-</button>
                                            <input type="number" value="<%= item.quantity %>" min="1" data-product-id="<%= item.product._id %>" class="quantity-input">
                                            <button class="btn-increment" data-available-stock="<%= item.selectedVariant.stock %>" data-product-id="<%= item.product._id %>" data-variant-id="<%= item.selectedVariant._id %>">+</button>
                                        </div>
                                    </td>
                                    <td class="cart__close">
                                        <a href="#" class="remove-item" data-product-id="<%= item.product._id %>"><i class="fa fa-close"></i></a>
                                    </td>
                                </tr>
                          
                        </tbody>
                        <% }) %>
                    </table>
                </div>
                <button class="continue__btn"><a class="continue__link" href="/products">Continue to shopping</a></button>
            </div>
            <!-- Cart Summary -->
            <div class="col-lg-4">
                <div class="shopping__cart__summary">
                    <h5>Cart totals</h5>
                    <ul>
                      
                       <li>Product Price<span id="cartTotal">₹<%= totalSalePrice%></span></li>
                   
                        <li>Discount <span id="discount" class="text-success">-₹<%= discount %></span></li>
                        <li>Subtotal <span id="cartTotal">₹<%= cartTotal %></span></li>
                        <li>Shipping <span id="shippingCharges" class="text-danger">₹<%= shippingCharges %></span></li>
                        <li>Total <span id="netAmount">₹<%= netAmount %></span></li>
                    </ul>
                    
                    <div class="checkout-btn">
                        <a href="#" class="primary-btn">Proceed to Checkout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</section>
<!-- Shopping Cart Section End -->

<script src="/js/user/cart.js"></script>


<%- include('../../views/partials/user/footer') %>