<%-include('../../views/partials/user/header') %>
    <link rel="stylesheet" href="/css/user/product-display.css">

    <% if(flash.error){ %>
        <div class="alert alert-danger" role="alert"><%= flash.error%></div>
        <% } %>
    <section class="hero">
        <div class="hero__slider owl-carousel">
            <div class="hero__items set-bg" data-setbg="img/hero/hero-5.jpeg">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-5 col-lg-7 col-md-8">
                            <div class="hero__text">
                                <h6>Winter is coming</h6>
                                <h2>Fall - Winter Collections 2030</h2>
                                <p>A specialist label creating luxury essentials. Ethically crafted with an unwavering
                                commitment to exceptional quality.</p>
                                <a href="/products" class="primary-btn">Shop now <span class="arrow_right"></span></a>
                                <div class="hero__social">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero__items set-bg" data-setbg="img/hero/hero-2.jpeg">       
                <div class="container">
                    <div class="row">
                        <div class="col-xl-5 col-lg-7 col-md-8">
                            <div class="hero__text">
                                <h6>Summer Collection</h6>
                                <h2>Fall - Winter Collections 2025</h2>
                                <p>A specialist label creating luxury essentials. Ethically crafted with an unwavering
                                commitment to exceptional quality.</p>
                                <a href="#" class="primary-btn">Shop now <span class="arrow_right"></span></a>
                                <div class="hero__social">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Banner Section Begin -->
    <section class="banner spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 offset-lg-4">
                    <div class="banner__item">
                        <div class="banner__item__pic">
                            <img src="img/banner/banner-1.jpg" alt="">
                        </div>
                        <div class="banner__item__text">
                            <h2>Clothing Collections 2025</h2>
                            <a href="/products">Shop now</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="banner__item banner__item--middle">
                        <div class="banner__item__pic">
                            <img src="img/product/product-14.jpg" alt="">
                        </div>
                        <div class="banner__item__text">
                            <h2>Accessories</h2>
                            <a href="/products?page=1&category=women%27s%20accessories&sort=productName&search=&priceRange=">Shop now</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="banner__item banner__item--last">
                        <div class="banner__item__pic">
                            <img src="img/banner/banner-3.jpg" alt="">
                        </div>
                        <div class="banner__item__text">
                            <h2>Shoes Spring 2025</h2>
                            <a href="products?page=1&category=men%27s%20footware&sort=productName&search=&priceRange=">Shop now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    

    <!-- Product Section Begin -->
    <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="filter__controls">
                        <li data-filter="new-arrivals">New Arrivals</li>
                    </ul>
                </div>
            </div>
            <div class="row product__filter">
                <% if (products.length === 0) { %>
                    <div class="product-empty"><p>There are no Products Available</p></div>
                <% } else { %>
                    <% products.forEach(product => { %>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="home-product-card mb-4">
                                <div class="home-product-image">
                                    <img src="/uploads/public-image/<%= product.productImage[0] %>" alt="<%= product.productName %>">
                                </div>
                                
                                <!-- Product Overlay with Name and View Product -->
                                <div class="home-product-overlay">
                                    <h6 class="home-product-name"><%= product.productName %></h6>
                                    <a href="/product/view?id=<%= product._id %>" class="home-overlay-icon">View Product</a>
                                </div>
                            </div>
                        </div>
                    <% }); %>
                <% } %>
            </div>
            
            
    </section>


    <!-- Categories Section Begin -->
    <section class="categories spad">
        <div class="video-background">
            <video autoplay muted loop id="bg-video">
                
                <source src="/img/home-video.mp4" type="video/mp4">
                
            </video>
        </div>
        <div class="video-container">
            
            <div class="row">
                <div class="col-lg-12">
                    <h2>Welcome to Our Store</h2>
                    <p>Discover our amazing collection of products.</p>
                    <a href="/products" class="video-btn">Shop now</a>
                </div>
            </div>
        </div>
    </section>
    
    
    <!-- Categories Section End -->



<%-include('../../views/partials/user/footer') %>