
 <%-include('../../views/partials/user/header') %>
 <link rel="stylesheet" href="/css/user/productlist.css">
 <!-- Shop Details Section Begin -->
 <section class="shop-details">
    <div class="product__details__pic">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="product__details__breadcrumb">
                        <a href="/">Home</a>
                        <a href="/products">Products</a>
                        <span>Product Details</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <ul class="nav nav-tabs" role="tablist">
                        <% for (let i = 0; i < product.productImage.length; i++) { %>
                        <li class="nav-item">
                            <a class="nav-link <%= i === 0 ? 'active' : '' %>" data-toggle="tab" href="#tabs-<%= i + 1 %>" role="tab">
                                <img class="product__thumb__pic" src="/uploads/public-image/<%=product.productImage[i] %>">
                            </a>
                        </li>
                        <% } %>
                    </ul>
                </div>
                <div class="col-lg-6 col-md-9">
                    <div class="tab-content">
                        <% for (let i = 0; i < product.productImage.length; i++) { %>
                        <div class="tab-pane <%= i === 0 ? 'active' : '' %>" id="tabs-<%= i + 1 %>" role="tabpanel">
                            <% if (product.productImage && product.productImage.length > 0) { %>
                            <div class="product__details__pic__item">
                                <img  class="product-image zoom" src="/uploads/public-image/<%= product.productImage[i] %>"  data-zoom-image="/uploads/public-image/<%= product.productImage[i] %>"    alt="">
                            </div>
                            <% } else { %>
                                <p>No images available for this product.</p>
                             <% } %>
                        </div>
                        <% } %>
                    </div>
                </div>
            </div>
            <div class="product__details__content">
                <div class="container">
                    <div class="row d-flex justify-content-center">
                        <div class="col-lg-8">
                            <div class="product__details__text">
                                <h4><%= product.productName %></h4>
                                <div class="rating">
                                    <!-- Display interactive stars for rating -->
                                    <div id="userRating" class="stars">
                                        <span class="star" onclick="submitRating(1)" onmouseover="highlightStars(1)" onmouseout="resetStars()"></span>
                                        <span class="star" onclick="submitRating(2)" onmouseover="highlightStars(2)" onmouseout="resetStars()"></span>
                                        <span class="star" onclick="submitRating(3)" onmouseover="highlightStars(3)" onmouseout="resetStars()"></span>
                                        <span class="star" onclick="submitRating(4)" onmouseover="highlightStars(4)" onmouseout="resetStars()"></span>
                                        <span class="star" onclick="submitRating(5)" onmouseover="highlightStars(5)" onmouseout="resetStars()"></span>
                                    </div>
                                    <span id="averageRating">Average Rating: 0 / 5</span>
                                    <span id="totalRatings">(0 Reviews)</span>
                                </div>
                                
                                <h3>&#8377;<%= product.salePrice %> <span>&#8377;<%= product.regularPrice %></span></h3>
                                <% if(product.quantity < 5) {%>
                                    <p class="stock-left text-danger">Only <%= product.quantity%> left,Please hurry up</span>
                                    <% } %>
                                <p><%= product.description %></p>
                                <div class="product__details__option">
                                    <div class="product__details__option__size">
                                        <span>Size:</span>
                                        <% if (product.size && product.size.length > 0) { %>
                                            <% product.size.forEach(size => { %>
                                                <label for="<%= size %>"><%= size %>
                                                    <input type="radio" id="<%= size %>">
                                                </label>
                                            <% }); %>
                                        <% } else { %>
                                            <span>Size:Not available</span>
                                        <% } %>
                                    </div>
                                    <div class="product__details__option__color" >
                                        <span>Color:</span>
                                        <div class="color-options" id="colorOptionsContainer"><%= product.color%></div>
                                    </div>

                                <div class="product__details__cart__option">
                                    <div class="quantity">
                                        <div class="pro-qty">
                                            <input type="text" value="1">
                                        </div>
                                    </div>
                                    <button class="add-cart-btn"><a href="#" onclick="addToCart('<%= product._id %>')" class="add-cart-link">+ Add to Cart</a>
                                </div>
                                <div class="product__details__btns__option">
                                    <a href="#"><i class="fa fa-heart"></i> add to wishlist</a>
                                    <a href="#"><i class="fa fa-exchange"></i> Add To Compare</a>
                                </div>
                                <div class="product__details__last__option">
                                    <h5><span>Guaranteed Safe Checkout</span></h5>
                                    <img src="/img/shop-details/details-payment.png" alt="">
                                    <ul>
                                        <li><span>Categories: <%=category.name%></span></li>
                                        <li><span>Tag:</span> Clothes, Skin, Body</li>
                                    </ul>
                                </div>

                            </div>


                            <div id="couponSection">
                                <h3>Available Coupons</h3>
                                <div id="couponList"></div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

</section>
<!-- Shop Details Section End -->

<!-- Related Section Begin -->
<!-- <section class="related spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="related-title">Related Product</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-sm-6">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="/img/product/product-1.jpg">
                        <span class="label">New</span>
                        <ul class="product__hover">
                            <li><a href="#"><img src="/img/icon/heart.png" alt=""></a></li>
                            <li><a href="#"><img src="/img/icon/compare.png" alt=""> <span>Compare</span></a></li>
                            <li><a href="#"><img src="/img/icon/search.png" alt=""></a></li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6>Piqué Biker Jacket</h6>
                        <a href="#" class="add-cart">+ Add To Cart</a>
                        <div class="rating">
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <h5>$67.24</h5>
                        <div class="product__color__select">
                            <label for="pc-1">
                                <input type="radio" id="pc-1">
                            </label>
                            <label class="active black" for="pc-2">
                                <input type="radio" id="pc-2">
                            </label>
                            <label class="grey" for="pc-3">
                                <input type="radio" id="pc-3">
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-sm-6">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="/img/product/product-2.jpg">
                        <ul class="product__hover">
                            <li><a href="#"><img src="/img/icon/heart.png" alt=""></a></li>
                            <li><a href="#"><img src="/img/icon/compare.png" alt=""> <span>Compare</span></a></li>
                            <li><a href="#"><img src="/img/icon/search.png" alt=""></a></li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6>Piqué Biker Jacket</h6>
                        <a href="#" class="add-cart">+ Add To Cart</a>
                        <div class="rating">
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <h5>$67.24</h5>
                        <div class="product__color__select">
                            <label for="pc-4">
                                <input type="radio" id="pc-4">
                            </label>
                            <label class="active black" for="pc-5">
                                <input type="radio" id="pc-5">
                            </label>
                            <label class="grey" for="pc-6">
                                <input type="radio" id="pc-6">
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-sm-6">
                <div class="product__item sale">
                    <div class="product__item__pic set-bg" data-setbg="/img/product/product-3.jpg">
                        <span class="label">Sale</span>
                        <ul class="product__hover">
                            <li><a href="#"><img src="/img/icon/heart.png" alt=""></a></li>
                            <li><a href="#"><img src="/img/icon/compare.png" alt=""> <span>Compare</span></a></li>
                            <li><a href="#"><img src="/img/icon/search.png" alt=""></a></li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6>Multi-pocket Chest Bag</h6>
                        <a href="#" class="add-cart">+ Add To Cart</a>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <h5>$43.48</h5>
                        <div class="product__color__select">
                            <label for="pc-7">
                                <input type="radio" id="pc-7">
                            </label>
                            <label class="active black" for="pc-8">
                                <input type="radio" id="pc-8">
                            </label>
                            <label class="grey" for="pc-9">
                                <input type="radio" id="pc-9">
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-sm-6">
                <div class="product__item">
                    <div class="product__item__pic" data-setbg="/img/product/product-4.jpg">
                        <ul class="product__hover">
                            <li><a href="#"><img src="/img/icon/heart.png" alt=""></a></li>
                            <li><a href="#"><img src="/img/icon/compare.png" alt=""> <span>Compare</span></a></li>
                            <li><a href="#"><img src="/img/icon/search.png" alt=""></a></li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6>Diagonal Textured Cap</h6>
                        <a href="#" class="add-cart">+ Add To Cart</a>
                        <div class="rating">
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <h5>$60.9</h5>
                        <div class="product__color__select">
                            <label for="pc-10">
                                <input type="radio" id="pc-10">
                            </label>
                            <label class="active black" for="pc-11">
                                <input type="radio" id="pc-11">
                            </label>
                            <label class="grey" for="pc-12">
                                <input type="radio" id="pc-12">
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
----->

<script src="/js/user/zoom-image.js"></script>

<script>
// Highlight stars based on user hover
function highlightStars(starCount) {
    const stars = document.querySelectorAll('#userRating .star');
    stars.forEach((star, index) => {
        if (index < starCount) {
            star.classList.add('highlight');
        } else {
            star.classList.remove('highlight');
        }
    });
}

// Reset stars after hover ends
function resetStars() {
    const stars = document.querySelectorAll('#userRating .star');
    stars.forEach(star => star.classList.remove('highlight'));
}

// Fill the stars based on the rating
function fillStars(rating) {
    const stars = document.querySelectorAll('#userRating .star');
    stars.forEach((star, index) => {
        if (index < rating) {
            star.classList.add('filled'); // Add filled class to make it gold
        } else {
            star.classList.remove('filled'); // Remove filled class to reset it
        }
    });
}

// Submit the user's rating
async function submitRating(stars) {
    try {
        const response = await fetch(`http://localhost:3001/rate?id=<%= product._id %>`, {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({
                rating: stars,
                user_id: '<%= user._id %>'  // Assuming the user ID is passed in
            })
        });

        const result = await response.json();

        if (response.ok) {
            Swal.fire({
                icon: 'success',
                title: 'Rating Submitted!',
                text: result.message,
                confirmButtonText: 'OK'
            });

            // Update the UI with the new average rating and total ratings
            document.getElementById('averageRating').innerText = `Average Rating: ${result.updatedRating} / 5`;
            document.getElementById('totalRatings').innerText = `(${result.totalRatings} Reviews)`;

            // Fill the stars based on the new rating
            fillStars(result.updatedRating);
        } else {
            Swal.fire({
                icon: 'error',
                title: 'Error!',
                text: result.message,
                confirmButtonText: 'OK'
            });
        }
    } catch (error) {
        console.error('Error submitting rating:', error);
        Swal.fire({
            icon: 'error',
            title: 'An Error Occurred',
            text: 'There was an issue submitting your rating.',
            confirmButtonText: 'OK'
        });
    }
}

// Fetch the ratings for the product
async function fetchRatings() {
    try {
        const productId = '<%= product._id %>'; // Ensure you pass the product ID
        const response = await fetch(`http://localhost:3001/ratings/${productId}`);
        const data = await response.json();

        if (response.ok) {
            document.getElementById('averageRating').innerText = `Average Rating: ${data.averageRating} / 5`;
            document.getElementById('totalRatings').innerText = `(${data.totalRatings} Reviews)`;

            fillStars(data.averageRating); // Fill the stars with the average rating
        } else {
            Swal.fire({
                icon: 'error',
                title: 'Error!',
                text: 'Could not fetch ratings. Please try again later.',
                confirmButtonText: 'OK'
            });
        }
    } catch (error) {
        console.error('Error fetching ratings:', error);
        Swal.fire({
            icon: 'error',
            title: 'An Error Occurred',
            text: 'There was an issue fetching the ratings.',
            confirmButtonText: 'OK'
        });
    }
}

document.addEventListener('DOMContentLoaded', fetchRatings);




</script>




<script>
function formatDate(date) {
    const day = String(date.getDate()).padStart(2, '0');
    const month = String(date.getMonth() + 1).padStart(2, '0');
    const year = date.getFullYear();
    return `${day}-${month}-${year}`;
}


async function fetchCoupons() {
    try {
        // Fetch coupon data from the server
        const response = await fetch('http://localhost:3001/coupon');
        
        // Check if the request was successful
        if (!response.ok) {
            throw new Error("Failed to fetch coupons");
        }

        const data = await response.json();
        
        // Get the coupon list container
        const couponList = document.getElementById('couponList');

        // Loop through each coupon and create HTML dynamically
        data.coupons.forEach(coupon => {
            const couponItem = document.createElement('div');
            couponItem.classList.add('coupon-item');


            const formattedExpiryDate = formatDate(new Date(coupon.expiryDate));

            // Add coupon info
            couponItem.innerHTML = `
                <div class="coupon-info">
                    <p><strong>Code:</strong> ${coupon.code}</p>
                    <p><strong>Description:</strong> ${coupon.description}</p>
                    <p><strong>Expires:</strong> ${formattedExpiryDate}</p>
                </div>
                <button class="copy-button" onclick="copyCouponCode(this, '${coupon.code}')">Copy Code</button>
                <span class="copy-status"></span>
            `;

            // Append the coupon item to the coupon list
            couponList.appendChild(couponItem);
        });
    } catch (error) {
        console.error('Error fetching coupons:', error);
    }
}

// Fetch the coupons when the page loads
document.addEventListener('DOMContentLoaded', fetchCoupons);

// Function to copy coupon code to clipboard
function copyCouponCode(button, code) {
    navigator.clipboard.writeText(code).then(() => {
        // Change the button text to 'Copied!' and disable it
        const originalText = button.innerText;
        button.innerText = "Copied!";
        button.disabled = true;

        // Reset the button text after 2 seconds and enable it again
        setTimeout(() => {
            button.innerText = originalText;
            button.disabled = false;
        }, 2000);
    }).catch(err => {
        console.error("Error copying coupon code:", err);
    });
}

</script>

<script>
    function addToCart(productId) {
    $.ajax({
        url: '/cart/add/' + productId,  
        method: 'POST',
        contentType: 'application/json',
        success: function(response) {
            Swal.fire({
                title: "Success",
                icon: "success",
                text: "Product Added Successfully",
                showConfirmButton: true,
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = '/cart';
                }
            });
            
        },
        error: function() {
            alert('Failed to add product to cart!');
        }
    });
}
</script>

<%-include('../../views/partials/user/footer') %>