<%-include('../../views/partials/user/header') %>
<link rel="stylesheet" href="/css/user/product-display.css">
  <!-- Breadcrumb Section Begin -->
  <section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>Products</h4>
                    <div class="breadcrumb__links">
                        <a href="/">Home</a>
                        <span>Products</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Shop Section Begin -->


<% if(flash.error){ %>
    <div class="alert alert-danger d-flex align-item-center justify-content-center w-25 alert-box"><%=flash.error%></div>
<% } %>


<section class="shop spad">

    <div class="container">

        <div class="row">

            <div class="col-lg-3">
                <div class="shop__sidebar">
                    <div class="shop__sidebar__search">
                        <form action="#">
                            <input type="text" placeholder="Search...">
                            <button type="submit"><span class="icon_search"></span></button>
                        </form>
                    </div>
                    <div class="shop__sidebar__accordion">
                        <div class="accordion" id="accordionExample">
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseOne">Categories</a>
                                </div>
                                <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__categories">
                                            <ul class="nice-scroll">
                                                <li><a href="#">Men (20)</a></li>
                                                <li><a href="#">Women (20)</a></li>
                                                <li><a href="#">Bags (20)</a></li>
                                                <li><a href="#">Clothing (20)</a></li>
                                                <li><a href="#">Shoes (20)</a></li>
                                                <li><a href="#">Accessories (20)</a></li>
                                                <li><a href="#">Kids (20)</a></li>
                                                <li><a href="#">Kids (20)</a></li>
                                                <li><a href="#">Kids (20)</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseTwo">Branding</a>
                                </div>
                                <div id="collapseTwo" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__brand">
                                            <ul>
                                                <li><a href="#">Louis Vuitton</a></li>
                                                <li><a href="#">Chanel</a></li>
                                                <li><a href="#">Hermes</a></li>
                                                <li><a href="#">Gucci</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseThree">Filter Price</a>
                                </div>
                                <div id="collapseThree" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__price">
                                            <ul>
                                                <li><a href="#">$0.00 - $50.00</a></li>
                                                <li><a href="#">$50.00 - $100.00</a></li>
                                                <li><a href="#">$100.00 - $150.00</a></li>
                                                <li><a href="#">$150.00 - $200.00</a></li>
                                                <li><a href="#">$200.00 - $250.00</a></li>
                                                <li><a href="#">250.00+</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseFour">Size</a>
                                </div>
                                <div id="collapseFour" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__size">
                                            <label for="xs">xs
                                                <input type="radio" id="xs">
                                            </label>
                                            <label for="sm">s
                                                <input type="radio" id="sm">
                                            </label>
                                            <label for="md">m
                                                <input type="radio" id="md">
                                            </label>
                                            <label for="xl">xl
                                                <input type="radio" id="xl">
                                            </label>
                                            <label for="2xl">2xl
                                                <input type="radio" id="2xl">
                                            </label>
                                            <label for="xxl">xxl
                                                <input type="radio" id="xxl">
                                            </label>
                                            <label for="3xl">3xl
                                                <input type="radio" id="3xl">
                                            </label>
                                            <label for="4xl">4xl
                                                <input type="radio" id="4xl">
                                            </label>
                                            <label for="4xl">5
                                                <input type="radio" id="4xl">
                                            </label>
                                            <label for="4xl">6
                                                <input type="radio" id="4xl">
                                            </label>
                                            <label for="4xl">7
                                                <input type="radio" id="4xl">
                                            </label>
                                            <label for="4xl">8
                                                <input type="radio" id="4xl">
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseFive">Colors</a>
                                </div>
                                <div id="collapseFive" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__color">
                                            <label class="c-1" for="sp-1">
                                                <input type="radio" id="sp-1">
                                            </label>
                                            <label class="c-2" for="sp-2">
                                                <input type="radio" id="sp-2">
                                            </label>
                                            <label class="c-3" for="sp-3">
                                                <input type="radio" id="sp-3">
                                            </label>
                                            <label class="c-4" for="sp-4">
                                                <input type="radio" id="sp-4">
                                            </label>
                                            <label class="c-5" for="sp-5">
                                                <input type="radio" id="sp-5">
                                            </label>
                                            <label class="c-6" for="sp-6">
                                                <input type="radio" id="sp-6">
                                            </label>
                                            <label class="c-7" for="sp-7">
                                                <input type="radio" id="sp-7">
                                            </label>
                                            <label class="c-8" for="sp-8">
                                                <input type="radio" id="sp-8">
                                            </label>
                                            <label class="c-9" for="sp-9">
                                                <input type="radio" id="sp-9">
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseSix">Tags</a>
                                </div>
                                <div id="collapseSix" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__tags">
                                            <a href="#">Product</a>
                                            <a href="#">Jackets</a>
                                            <a href="#">Shoes</a>
                                            <a href="#">Smart Watch</a>
                                            <a href="#">Clothing</a>
                                            <a href="#">Accessories</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="shop__product__option">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="shop__product__option__left">
                                <p>Showing <%= currentPage%>– <%=limit%> of <%= totalProduct %> results</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <form id="productFilterForm">
                                <select id="sortOptions" onchange="loadSortedProducts()">
                                    <option value="productName">Sort by Name</option>
                                    <option value="priceLowToHigh">Price: Low to High</option>
                                    <option value="priceHighToLow">Price: High to Low</option>
                                    <option value="featured">Featured First</option>
                                </select>
                              </form>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <%if (products.length === 0){%>
                        <div class="product-empty"><p class="">There is no Product Available</p></div>
                        <%}else{%>
                    <% products.forEach(product => { %>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="product-card mb-4">
                            <div class="product-image">
                              <img src="/uploads/public-image/<%= product.productImage[0] %>" alt="<%= product.productName %>">


                               <!-- Stock Status Badge -->
                               <div class="product-badge 
                               <%= product.status ? product.status.toLowerCase().replace(/ /g, '-') : 'available' %> ">
                               <%= product.status %>
                           </div>
                                <div class="product-overlay">
                                    <a href="/product/view?id=<%=product._id%>" class="overlay-icon">View Product</a>
                                </div>
                            </div>

                            <!-- Product Details -->
                            <div class="product-details">
                                <h6 class="product-name"><%= product.productName %></h6>
                                <div class="product-price">&#8377;<%= product.salePrice %></div>

                                <div class="description">
                                    <p><%=product.description%></p>
                                </div>

                                  <!-- <div class="rating">
                                    <% for(let i = 1; i <= 5; i++) { %>
                                        <i class="fa <%= i <= product.rating ? 'fa-star' : 'fa-star-o' %>"></i>
                                    <% } %>
                                </div> -->


                                <button class="add-cart-btn">+ Add to Cart</button>
                                <button class="buy-now-btn ">Buy Now</button>
                            </div>
                        </div>
                    </div>
                    <% }) %>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="product__pagination">
                            <% if (currentPage > 1) { %>
                                <a href="?page=<%= currentPage - 1 %>&sort=<%= sort %>'">&laquo;</a>
                            <% } %>
                            <% for (let i = 1; i <= totalPages; i++) { %>
                                <a href="?page=<%= i %>"><%= i %></a>
                            <% } %>
                            <% if (currentPage < totalPages) { %>
                                <a href="?page=<%= currentPage + 1 %>&sort=<%= sort %>'">&raquo;</a>
                            <% } %>
                        </div>
                    </div>
                </div>
                <%}%>

            </div>
        </div>
    </div>
</section>

<script>
    function loadSortedProducts() {
    const sortOption = document.getElementById('sortOptions').value;
    const currentPage = 1; // Adjust the current page based on pagination logic
    // Make an AJAX request to the server with the selected sort option using jQuery
    $.ajax({
        url: `/products?sort=${sortOption}&page=${currentPage}`,
        method: 'GET',
        dataType: 'json', // Expecting JSON response
        success: function(data) {
            const products = data.products;
            const productList = document.getElementById('product-list');
            productList.innerHTML = ''; // Clear current product list

            // Render the products dynamically
            products.forEach(product => {
                const productElement = document.createElement('div');
                productElement.classList.add('product');
                productElement.innerHTML = `
                    <h3>${product.productName}</h3>
                    <p>${product.description}</p>
                    <p>Price: ₹${product.salePrice}</p>
                    ${product.featured ? '<span class="featured-badge">Featured</span>' : ''}
                `;
                productList.appendChild(productElement);
            });
        },
        error: function(xhr, status, error) {
            console.error('Error loading sorted products:', error);
        }
    });
}

</script>

<%-include('../../views/partials/user/footer') %>