<%- include('../../views/partials/user/header') %>

<link rel="stylesheet" href="/css/user/wishlist.css">

 
    
    <div class="wishlist-container">
        <h3>My Wishlist</h3>
    
        <% if (wishlistItems.length === 0) { %>
           
                <p class="empty-wishlist">Your wishlist is empty.</p>
          
        <% } else { %>
            <table class="wishlist-table">
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Product</th>
                        <th>Size</th>
                        <th>Color</th>
                        <th>Price</th>
                        <th>Stock</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% wishlistItems.forEach(item => { 
                        const product = item.product_id;
                        const firstVariant = product.variants[0];
                    %>
                        <tr id="wishlist-item-<%= product._id %>">
                            <td><a href="/product/view?id=<%= product._id %>"><img src="/uploads/public-image/<%= product.productImage[0] %>" alt="<%= product.productName %>"></a></td>
                            <td><%= product.productName %></td>
                            <td><%= firstVariant.size %></td>
                            <td><%= firstVariant.color %></td>
                            <td>&#8377;<%= firstVariant.salePrice || firstVariant.regularPrice %></td>
                            <td><div class="stock-status <%= firstVariant.status.toLowerCase().replace(/ /g, '-') %>"><%= firstVariant.status %></div> </td>
                            <td>
                                <button class="add-cart-btn" onclick="addToCart('<%= product._id %>', '<%= firstVariant._id %>')">Add to Cart</button>
                                <button class="remove-btn" onclick="removeFromWishlist('<%= product._id %>')">X</button>
                            </td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        <% } %>
    </div>


<script src="/js/user/wishlist.js"></script>


<%- include('../../views/partials/user/footer') %>
